.slider-container .content{
    position: absolute;
    top: 30%;
    left: calc(50% - 200px);
    z-index: 999;
    color: #fff;
    width: 400px;
    text-align: center;
}
.slider-container .content label{text-transform: uppercase; }
.slider-container .content h3{font-size: 2.5rem; font-weight: bold;}
.slider-container .content label,.slider-container .content h3,.slider-container .content a{opacity: 0; display: block;}
.slick-active .content label{animation: totop 2s ease forwards;}
.slick-active .content h3{animation: totop 2.5s ease forwards;}
.slick-active .content a{animation: totop 3s ease forwards;} 
.slick-active img{
    animation: zoom 8s forwards;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes totop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    50%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}